{% extends 'base.html.twig' %}

{% block title %}Hello PaymentController!{% endblock %}

{% block body %}
<div class="product">
    <img
    src="https://lacigogne-alsace.fr/wp-content/uploads/2020/05/LOGO-Cigogne-copie-e1588798425596.png"
    alt="Logo cigogne"
    />
    <div class="description">
        <h3>Adhésion la cigogne</h3>
        <h5>20.00 €</h5>
    </div>
    <div>Valable pour une durée d'un an.</div>
</div>

<button class="btn btn-secondary" type="button" id="checkout-button">Procéder au paiement</button>
<script type="text/javascript">
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe("pk_test_51ID6CzESwLyqwl2LFbbMpt62gLBKPcL3ygXNFxSyxHutPpVFStu6tu554jCpqjGtd9UZLc5gnOolRQ1Dglqmqd5R008kXyvq9s");
    var checkoutButton = document.getElementById("checkout-button");
    
    checkoutButton.addEventListener("click", function () {
        fetch("/payment/session", {
            method: "POST",
        })
        .then(function (response) {
            return response.json();
        })
        .then(function (session) {
            return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function (result) {
            // If redirectToCheckout fails due to a browser or network
            // error, you should display the localized error message to your
            // customer using error.message.
            if (result.error) {
                alert(result.error.message);
            }
        })
        .catch(function (error) {
            console.error("Error:", error);
        });
    });
</script>
{% endblock %}
